body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dd,dt {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "微软雅黑";
  list-style: none;
}
table {
  border-collapse:collapse;
  border-spacing: 0;
}
i,s,em {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}
input,img {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline-style: none;
  vertical-align: middle;
}
button {
  outline-style: none;
  border: 0 none;
}
a {
  text-decoration: none;
  font-weight: normal;
  color: #000;
}
a:hover {
  color: red;
}
input,img {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline-style: none;
  vertical-align: middle;
}
.clearfix:after {
  content:"";
  height:0;
  line-height:0;
  display:block;
  clear:both;
  visibility:hidden;
}
.clearfix {
  *zoom:1;
}
.w {
  width: 90%;
  min-width: 1330px;
  margin:0 auto;
}
.l {
  float: left;
}
.r {
  float: right;
}
.el-input--mini .el-input__inner {
  height: 24px;
}

.info_r_mid_tab .has-gutter tr th {
  text-align: center;
  color: #fff;
  background-color: #2a3cba;
}
.top_select_tab .has-gutter tr th {
  text-align: center;
  color: #fff;
  background-color: #2a3cba;
}

/*.info_r_mid .el-table td, .el-table th {*/
/*padding: 2px 0;*/
/*}*/
.el-table td, .el-table th {
  padding: 0 0 !important;
}
.inspection .has-gutter tr th {
  text-align: center;
  color: #fff;
  background-color: #2a3cba;
}
.inspection .el-table__body-wrapper, .el-table__footer-wrapper, .el-table__header-wrapper {
  width: 101%;
}
.inspection .el-table__row td:nth-child(2) div {
  border-radius: 5px;
  color: #fff;
  background-color: #2a3cba;
}
.char_r .el-checkbox__input.is-checked+.el-checkbox__label {
  color: #fff
}
.char_r .el-checkbox.is-bordered.el-checkbox--mini {
  padding: 3px 5px 0px 5px
}

.region .has-gutter tr th {
  text-align: center;
  color: #fff;
  background-color: #2a3cba;
}

.spareParts .has-gutter tr th {
  color: #fff;
  background-color: #2a3cba;
}

.calibration .info_r_top .has-gutter tr th {
  background-color: #fdae1e;
  color: #fff;
}

.calibration .info_r_bot .has-gutter tr th {
  background-color: #fd0200;
  color: #fff;
}

.calibration .el-table__body-wrapper, .el-table__footer-wrapper, .el-table__header-wrapper {
  width: 101%;
}

.el-table__body-wrapper, .el-table__footer-wrapper, .el-table__header-wrapper {
  width: 101% !important;
}

.region .el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #e6e6e6;
}
.region .el-table__body-wrapper, .el-table__footer-wrapper, .el-table__header-wrapper {
  width: 101%;
}
.region .el-table td, .el-table th.is-leaf {
  border-right: 1px solid #c2c2c2 ;
}
.region .el-table--border td, .el-table--border th {
  border-right: 1px solid #c2c2c2 ;
}
.region .el-table td, .el-table th.is-leaf {
  border-right: 1px solid #c2c2c2 ;
}
.region .el-table--border, .el-table--group {
  border: 1px solid #c2c2c2;
}

.about_score .has-gutter tr th {
  text-align: center;
  color: #fff;
  background-color: #2a3cba;
}

.has-gutter tr th {
  background-color: #2a3cba;
  color: #fff;
}

.el-table .cell, .el-table th div {
  padding-right: 0px !important;
}

.el-table .cell, .el-table th div, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell {
  padding-left: 0px !important;
  line-height: 32px !important;
}

.weihu .info_l_bot .has-gutter tr th {
  background: #FFAC1E;
  color: white;
}

.weihu .info_r_top .has-gutter tr th {
  background-color: #6DB820;
  color: white;
}

.weihu .info_r_bot .has-gutter tr th {
  background: red;
  color: white;
}

.yearChark .has-gutter tr th {
  background: #2a3cba;
  color: white;
}

.dualException .has-gutter tr th {
  background-color: #2a3cba !important;
  color: white;
}

.dualscrap .has-gutter tr th {
  background-color: #2a3cba;
  color: white;
}

.el-table .cell, .el-table th div {
  padding-right: 0px !important;
}

.el-table .cell, .el-table th div, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell {
  padding-left: 0 !important;
}

.title_all_bottom_line {
  border: 1px solid lightgray;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.title_all_bottom_line .title_text {
  cursor: pointer;
  height: 27px;
  padding: 0 5px;
  margin-left: 5px;
  margin-top: 5px;
  background-color: #2a3cba;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
}




